.row {
  display: flex;
  flex-direction: column;
}

.col {
  height: 90px;
  width: 90px;
  text-align: center;
  font-size: 3.7rem;
  background-color: rgb(226, 226, 226);
  border: 0.03px solid rgb(173, 173, 173);
  border-radius: 100px;
  margin: 5px;
  cursor:pointer;
}

textarea {
  width: 400px;
  height: 100px;
  font-size: 2.5rem;
  text-align: right;
  padding: 1rem;
}
.back{
  width: 400px;
  height: 50px;
  font-size: 2rem;
  text-align: center;
  background-color: rgb(226, 226, 226);
  border: 0.03px solid rgb(173, 173, 173);
  cursor: pointer;
}
@media only screen and (min-width: 992px) {  
  .col:hover,.back:hover{
    background-color: none;
    border: none;
  }
  .col:active,.back:active{
    background-color: rgb(104, 104, 104);
    color:beige;
  }
}
@media only screen and (min-width: 768px) {  
  .col:hover,.back:hover{
    background-color: none;
    border: none;
  }
  .col:active,.back:active{
    background-color: rgb(104, 104, 104);
    color:beige;
  }
}
@media only screen and (min-width: 600px) {
  .col:hover,.back:hover{
    background-color: none;
    border: none;
  }
  .col:active,.back:active{
    background-color: rgb(104, 104, 104);
    color:beige;
  }
}
@media only screen and (max-width: 600px) {
  .calculator{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .col{
    height: 70px;
    width: 70px;
    text-align: center;
    font-size: 2.7rem;
    background-color: rgb(226, 226, 226);
    border: 0.03px solid rgb(173, 173, 173);
    border-radius: 100px;
    margin: 5px;
    cursor:pointer;
  }
  .col:hover,.back:hover{
    background-color: none;
    border: none;
  }
  .col:active,.back:active{
    background-color: rgb(104, 104, 104);
    color:beige;
  }
  textarea {
    width: 320px;
    height: 100px;
    font-size: 2.7rem;
    text-align: right;
    padding: 1rem;
  }
  .back{
    width: 320px;
    height: 40px;
    font-size: 1.4rem;
    text-align: center;
    background-color: rgb(226, 226, 226);
    border: 0.03px solid rgb(173, 173, 173);
    padding: 0.25rem;
  }
}
@media screen and (max-width: 360px) {
  .calculator{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .col{
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 1.5rem;
    background-color: rgb(226, 226, 226);
    border: 0.03px solid rgb(173, 173, 173);
    border-radius: 100px;
    margin: 5px;
    cursor:pointer;
  }
  .col:hover,.back:hover{
    background-color: none;
    border: none;
  }
  .col:active,.back:active{
    background-color: rgb(104, 104, 104);
    color:beige;
}
  textarea {
    width: 200px;
    height: 80px;
    font-size: 2rem;
    text-align: right;
    padding: 1rem;
  }
  .back{
    width: 200px;
    height: 30px;
    font-size: 1.2rem;
    text-align: center;
    background-color: rgb(226, 226, 226);
    border: 0.03px solid rgb(173, 173, 173);
    padding: 0.15rem;
  }
}
